<h2 id="title">Welcome to Ember</h2>

<h3>Default behaviour</h3>
<PowerSelectWithCreate
  @options={{countries}}
  @searchField="name"
  @selected={{selectedCountry}}
  @allowClear={{true}}
  @onChange={{action (mut selectedCountry)}}
  @onCreate={{action "createCountry"}} as |country|
>
  {{country.name}}
</PowerSelectWithCreate>

<br>
<br>
<br>
<h3>Multiple selections via <code>power-select-multiple-with-create</code></h3>
<PowerSelectMultipleWithCreate
  @options={{countries}}
  @searchField="name"
  @selected={{selectedCountries}}
  @onChange={{action (mut selectedCountries)}}
  @onCreate={{action "createCountry"}} as |country|
>
  {{country.name}}
</PowerSelectMultipleWithCreate>
<br>
<br>
<br>
<h3>With custom Add message</h3>
<PowerSelectWithCreate
  @options={{countries}}
  @searchField="name"
  @selected={{selectedCountry}}
  @allowClear={{true}}
  @onChange={{action (mut selectedCountry)}}
  @onCreate={{action "createCountry"}}
  @buildSuggestion={{capitalizeSuggestion}} as |country|
>
  {{country.name}}
</PowerSelectWithCreate>

<br>
<br>
<br>
<h3>With options being a slow promise</h3>
<PowerSelectWithCreate
  @options={{slowPromise}}
  @searchField="name"
  @selected={{selectedCountry}}
  @allowClear={{true}}
  @onChange={{action (mut selectedCountry)}}
  @onCreate={{action "createCountry"}} as |country|
>
  {{country.name}}
</PowerSelectWithCreate>
<br>
<br>
<br>
<h3>With async search</h3>
<PowerSelectWithCreate
  @search={{action "searchCountries"}}
  @selected={{selectedCountry}}
  @allowClear={{true}}
  @onChange={{action (mut selectedCountry)}}
  @onCreate={{action "createCountry"}} as |country|
>
  {{country.name}}
</PowerSelectWithCreate>
<br>
<br>
<br>
<h3>With callback to hide/show create option</h3>
<PowerSelectWithCreate
  @options={{countries}}
  @searchField="name"
  @selected={{selectedCountry}}
  @allowClear={{true}}
  @onChange={{action (mut selectedCountry)}}
  @onCreate={{action "createCountry"}}
  @showCreateWhen={{action "hideCreateOptionOnSameName"}} as |country|
>
  {{country.name}}
</PowerSelectWithCreate>